<!DOCTYPE html>
<html>
    <head>
        <title>Exercise Tracker</title>
    </head>
    <body onLoad="document.getElementById('get').click()">
        <h1>Exercise Tracker</h1>
        {{{body}}}
    </body>
</html>